html, body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif, Arial;
}

body {
    justify-content: center;
    text-align: center;
    align-items: center;
}

header {
    background-color: #022e51;
    color: white;
    font-weight: bold;
    flex-direction: row;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    max-height: 50px;
    overflow: hidden;
}

.logoHome{
    width: 20rem;
    height: 6rem;
    padding-top: 4.1rem;
    padding-bottom: 5rem;
}

.listaHeader a{
    flex-direction: column;
    margin: 10px 20px;
    align-items: center;
    text-decoration: none;
    background-color: #B74803;
    color: white;
    padding: 0.75em;
    border-radius: 0.5em;
    transition: transform 0.3s ease;
}

.listaHeader a:hover {
    transform: scale(1.1);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #022e51;
    color: white;
    text-align: center;
    align-items: center;
    padding: 10px;
max-height: 40px;
}

footer button {
    background-color: #B74803;
    color: white;
    width: 10%;
    height: 10%;
    padding: 0.25em;
    border-radius: 0.5em;
    border: none;
}

.error {
    color: red;
    font-weight: bold;
}

.create {
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table {
    margin: auto;
    width: 90%;
}

table {
    margin: auto;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

table th {
    background-color: #022e51;
    color: white;
    font-weight: bold;
    padding: 1em;
}

table td{
    padding: 0.5em;
}



a {
    text-decoration: none;
    background-color: #B74803;
    color: white;
    padding: 0.30em;
    border-radius: 0.5em;
    margin:3px;
    overflow: hidden;
}

a img{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: block;
}

button{
    text-decoration: none;
    padding: 0.30em;
    border-radius: 0.5em;
    margin:3px;
}

.marco {
    display: inline-block;
    border-radius: 15px;
    background-color: #A3B4C8;
    justify-content: center;
    text-align: right;
    align-items: center;
    padding: 1em;
    gap: 0.5em;
    margin: 1em;
}

.marco input, .marco select {
    width: 50%;
}

.marco label {
    font-weight: bold;
}
.imagen-edit,.imagen-delete,.imagen-view{
    background: none;
    width: 3.5rem;
    height: 3.5rem;
}

.imagen-edit,.imagen-delete:hover,.imagen-view:hover{
    transform: scale(1.1);
}
.boton-create {
    margin-bottom: 7rem;
    font-weight: bold;
    background-color: #B74803;
    color: white;
    padding: 0.50rem;
    border-radius: 0.5em;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s ease;
}