<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario Factura</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/facturaMain.css}">
</head>
<body>
<div class="container">
    <!-- Title -->
    <div class="title">
        <h2>Creando Factura</h2>
    </div>

    <div class="d-flex">
        <!-- Form Factura -->
        <form class="form-Factura" th:action="@{/facturaForm}" th:object="${factura}" method="POST">
            <label>
                <span>Fecha Emisión<span class="required">*</span></span>
                <input type="date" name="fecha">
            </label>
            <label>
                <span>Código Factura<span class="required">*</span></span>
                <input type="text" name="code">
            </label>

            <!-- Form Cliente -->
            <form class="form-Cliente" th:action="@{/nombreCliente}" th:object="${cliente}" method="POST">
                <span>Nombre Cliente: <span th:text="${nombreC}"></span> </span>
                <input type="text" name="nombreCliente">
                <button type="submit" style="width: 70px">Buscar</button>
            </form>

            <!-- Form Producto -->
            <form class="form-Producto" th:action="@{/codigoProducto}" th:object="${product}" method="POST">
                <span>Código Producto: <span th:text="${codigoP}"></span> </span>
                <label><input type="text" name="codigoProduct"></label>
                <button type="submit" style="width: 70px">Buscar</button>
            </form>

            <!-- Table Productos -->
            <div class="table-containerProductos">
                <p class="letraTitulo" ><strong>Productos</strong></p>
                <table>

                    <tr>
                        <th>Código</th>
                        <th>Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                    </tr>

                    <tr th:each="product : ${products}">
                        <td th:text="${product.code}"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.price}"></td>
                        <!--<td th:text="${product.quantity}"></td>-->
                        <td>
                            <a th:href="@{/eliminaProducto(product.id)}" >
                                <img class="logoX" src="/images/delete.png" height="20" width="20"/>
                            </a>
                        </td>
                    </tr>

                </table>
            </div>
        </form>

        <!-- Order Summary -->
        <div class="Yorder">
            <table>
                <tr>
                    <th colspan="2">Precio Final</th>
                </tr>
                <tr>
                    <td>Subtotal</td>
                    <td>"Total..."</td>
                </tr>
                <tr>
                    <td>Servicio</td>
                    <td>Servicio Gratuito</td>
                </tr>
            </table><br>
            <h2>Método de Pago</h2>
            <div>
                <input type="radio" name="dbt" value="cd"> Efectivo
            </div>
            <div>
                <input type="radio" name="dbt" value="cd"> Tarjeta/Paypal <span>
                    <img src="https://www.logolynx.com/images/logolynx/c3/c36093ca9fb6c250f74d319550acac4d.jpeg" alt="" width="50">
                    </span>
            </div>
            <button type="submit">Guardar</button>
        </div>
    </div>
</div>
</body>
</html>