<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<body>

<header th:replace="fragments/header :: header">&nbsp;</header>

<div class="tabla-Factura">
    <h1>[[#{factura.Title}]]</h1>
    <div class="create">
        <a class="boton-create" th:href="@{/presentantion/factura/create}">[[#{action.Create}]]</a>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>[[#{factura.date}]]</th>
                <th>[[#{factura.id}]]</th>
                <th>[[#{factura.cedulaProveedor}]]</th>
                <th>[[#{factura.cedulaCliente}]]</th>
                <th>[[#{factura.tipoPago}]]</th>
                <th>[[#{factura.finalPrice}]]</th>
                <th>[[#{table.Action}]]</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="factura : ${facturas}">
                <td th:text="${factura.date}"></td>
                <td th:text="${factura.id}"></td>
                <td th:text="${factura.cedulaProveedor}"></td>
                <td th:text="${factura.cedulaCliente}"></td>
                <td th:text="${factura.tipoPago}"></td>
                <td th:text="${factura.finalPrice}"></td>
                <td>
                    <a th:href="@{/presentantion/factura/pdf/{id}(id=${factura.id})}" ><img class="imagen-view" src="/images/pdf.png" alt="view"></a>
                    <a th:href="@{/presentantion/factura/xml/{id}(id=${factura.id})}" ><img class="imagen-delete" src="/images/xml.png" alt="delete"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>