<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"></head>
<body>

<header th:replace="fragments/header :: header">&nbsp;</header>

<div class="table">
    <h1>[[#{factura.Title}]]</h1>
    <div class="create">
        <a class="boton-create" th:href="@{/presentantion/factura/create}">[[#{action.Create}]]</a>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <th>[[#{factura.date}]]</th>
                <th>[[#{factura.cedulaProveedor}]]</th>
                <th>[[#{factura.cedulaCliente}]]</th>
                <th>[[#{factura.tipoPago}]]</th>
                <th>[[#{factura.finalPrice}]]</th>
                <th>[[#{table.Action}]]</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="factura : ${facturas}">
                <td th:text="${factura.getCode()}"></td>
                <td th:text="${factura.cedulaProveedor}"></td>
                <td th:text="${factura.cedulaCliente}"></td>
                <td th:text="${factura.tipoPago}"></td>
                <td th:text="${factura.finalPrice}"></td>
                <td>
                    <a th:href="@{/presentantion/factura/view(id=${factura.getCode()})}"><img class="imagen-view" src="/images/view.png" alt="view"></a>
                    <a th:href="@{/presentantion/clientes/delete(id=${factura.getCode()})}"
                       th:onclick="'return confirm(\'' + #{action.Confirm} + '\')'"><img class="imagen-delete"	src="/images/delete.png" alt="delete"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>