<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments/head"></head>
	<body>
		<!----------------------------------------------------------------
		 Header
		---------------------------------------------------------------- -->
		<header th:replace="fragments/header :: header">&nbsp;</header>
		<!----------------------------------------------------------------
		 Body
		---------------------------------------------------------------- -->
		<h1>[[#{cliente.view.Title}]]</h1>
		<div class="marco">
			<label>[[#{cliente.Id}]]
				<input disabled th:field="${cliente.id}"/>
			</label>
			<label>[[#{cliente.TypeId}]]
				<input th:readonly="true" th:field="${cliente.typeId}"/>
				<ul>
					<li th:classappend="${error != null ? 'error' : ''}" th:each="error : ${#fields.errors('typeId')}"
						 th:text="${error}"></li>
				</ul>
			</label>
			<br/><br/>
			<label>[[#{cliente.Name}]]
				<input disabled th:field="${cliente.name}"/>
			</label>
			<br/><br/>
			<label>[[#{cliente.Email}]]
				<input disabled th:field="${cliente.email}"/>
			</label>
			<br/><br/>
			<a href="/presentantion/clientes">[[#{action.Back}]]</a>
		</div>
		<!----------------------------------------------------------------
		 Footer
		---------------------------------------------------------------- -->
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>