<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/head"></head>

<body>

<header th:replace="fragments/header :: header">&nbsp;</header>

<div >

    <section class ="marco">
        <h2>[[#{proveedor.view.Title}]]</h2>

        <p><strong>[[#{id}]]:</strong> <span th:text="${#strings.substring(proveedor.id, 10)}"></span></p>
        <p><strong>[[#{admin.Name}]]:</strong> <span th:text="${proveedor.name}"></span></p>
        <p><strong>[[#{cliente.Email}]]:</strong> <span th:text="${proveedor.email}"></span></p>

        <p><strong>[[#{view.Estado}]]:</strong>
            <span th:if="${proveedor.accepted}" th:text="'Ha sido aceptado como contribuyente'"></span>
            <span th:unless="${proveedor.accepted}" th:text="'No ha sido aceptado como contribuyente'"></span>
        </p>

        <p><strong>[[#{view.Actividad.Comercial}]]:</strong>
            <span th:if="${proveedor.actComercial != null}" th:text="${proveedor.actComercial.name}"></span>
            <span th:if="${proveedor.actComercial == null}" th:text="'No registra'"></span>
        </p>

        <p><strong>[[#{header.Clientes}]]:</strong>
            <span th:if="${proveedor.actComercial != null}" th:text="${proveedor.clientes}"></span>
            <span th:if="${proveedor.actComercial == null}" th:text="'No registra'"></span>
        </p>
    </section>

    <section class="marco-edit" >
        <h2>[[#{edit.Profile.Hacienda}]]</h2>

        <form  th:action="@{/proveedor/update}" th:object="${proveedor}" method="post">
            <label>
                <span>[[#{admin.Name}]]:</span>
                <input type="text" th:field="*{name}" required>

            </label>
            <br></br>
            <label>
                <span>[[#{cliente.Email}]]:</span>
                <input type="email" th:field="*{email}" required>
            </label>
            <br> </br>
            <label>
                <span>[[#{view.New.Password}]]:</span>
                <input type="password" name="newPassword" required>
            </label>
            <br> </br>
            <label>
                <span>[[#{view.Confirm.New.Password}]]:</span>
                <input type="password" name="confirmPassword" required>
            </label>
            <br> </br>
            <label>
                <span>[[#{view.Actividad.Comercial}]]</span>
                <select name="actComercial" class="large-select">
                    <option th:each="actComercial: ${actComerciales}" th:value="${actComercial.id}" th:text="${actComercial.name}"></option>
                </select>
            </label>
            <br> </br>
            <button class="boton-create" type="submit">[[#{view.Update}]]</button>
            <a class="boton-create" th:href="@{/login}">[[#{header.SingOut}]]</a>
        </form>

    </section>

</div>



<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>