<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>[[#{product.edit.Title}]]</title>
		<link rel="stylesheet" th:href="@{/styles/css/style.css}">
	</head>
	<body>
		<div th:replace="fragments/header :: header">&nbsp;</div>
		<h1>[[#{product.edit.Title}]]</h1>
		<form enctype="multipart/form-data" method="post" th:object="${productDTO}">
			<label>[[#{product.Type}]]
				<select th:field="${productDTO.type}">
					<option value="1">Product</option>
					<option value="0">Service</option>
				</select>
				<ul>
					<li th:classappend="${error != null ? 'error' : ''}" th:each="error : ${#fields.errors('type')}"
						 th:text="${error}"></li>
				</ul>
			</label>
			<label>[[#{product.Code}]]
				<input th:field="${productDTO.code}"/>
				<ul>
					<li th:classappend="${error != null ? 'error' : ''}" th:each="error : ${#fields.errors('code')}"
						 th:text="${error}"></li>
				</ul>
			</label>
			<label>[[#{product.Description}]]
				<input th:field="${productDTO.description}"/>
				<ul>
					<li th:classappend="${error != null ? 'error' : ''}" th:each="error : ${#fields.errors('description')}"
						 th:text="${error}"></li>
				</ul>
			</label>
			<label>[[#{product.Measure}]]
				<select th:field="${productDTO.measure}">
					<option value="u">Unit</option>
					<option value="kg">Kilogram</option>
					<option value="l">Liter</option>
					<option value="m">Metro</option>
					<option value="n">none</option>
				</select>
				<ul>
					<li th:classappend="${error != null ? 'error' : ''}" th:each="error : ${#fields.errors('measure')}"
						 th:text="${error}"></li>
				</ul>
			</label>
			<label>[[#{product.Price}]]
				<input min="0" th:field="${productDTO.price}" type="number">
				<ul>
					<li th:classappend="${error != null ? 'error' : ''}" th:each="error : ${#fields.errors('price')}"
						 th:text="${error}"></li>
				</ul>
			</label>
			<label>[[#{product.IvaFee}]]
				<select th:field="${productDTO.ivaFee}">
					<option value="0">0%</option>
					<option value="0.5">0.5%</option>
					<option value="1">1%</option>
					<option value="4">4%</option>
					<option value="8">8%</option>
					<option value="13">13%</option>
				</select>
				<ul>
					<li th:classappend="${error != null ? 'error' : ''}" th:each="error : ${#fields.errors('ivaFee')}"
						 th:text="${error}"></li>
				</ul>
			</label>
			<button type="submit">[[#{action.Submit}]]</button>
			<a href="/products">[[#{action.Back}]]</a>
		</form>
		<div th:insert="~{fragments/footer :: footer}">&copy; 2017 The Static Templates</div>
	</body>
</html>