<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>[[#{product.Title}]]</title>
	</head>
	<body>
		<h1>[[#{product.Title}]]</h1>
		<a href="/products/create">[[#{action.Create}]]</a>
		<div>
			<table>
				<thead>
					<tr>
						<th>[[#{product.Code}]]</th>
						<th>[[#{product.Description}]]</th>
						<th>[[#{product.Price}]]</th>
						<th>[[#{table.Action}]]</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${products}">
						<td th:text="${product.code}"></td>
						<td th:text="${product.description}"></td>
						<td th:text="${product.price}"></td>
						<td>
							<a th:href="@{/products/view(id=${product.id})}">[[#{action.View}]]</a>
							<a th:href="@{/products/edit(id=${product.id})}">[[#{action.Edit}]]</a>
							<a th:href="@{/products/delete(id=${product.id})}" onclick="return confirm(''+[[#{action.Confirm}]])">[[#{action.Delete}]]</a>
						</td>
					</tr>
					<label> [[#{idioma.Idioma}]]
						<Select>
							<option value="en"> <a href="/products?lang=en">[[#{idioma.English}]]</a></option>
							<option value="es"> <a href="/products?lang=es">[[#{idioma.Español}]]</a></option>
							<option value="it"> <a href="/products?lang=it">[[#{idioma.Italiano}]]</a></option>
						</Select>
					</label>
				</tbody>
			</table>
		</div>
	</body>
</html>