<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>[[#{product.Title}]]</title>
		<link rel="stylesheet" th:href="@{/styles/css/style.css}">
	</head>
	<body>
		<div th:replace="fragments/header :: header">&nbsp;</div>
		<h1>[[#{product.Title}]]</h1>
		<a href="/products/create">[[#{action.Create}]]</a>
		<div>
			<table>
				<thead>
					<tr>
						<th>[[#{product.Code}]]</th>
						<th>[[#{product.Description}]]</th>
						<th>[[#{product.Price}]]</th>
						<th>[[#{table.Action}]]</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="product : ${products}">
						<td th:text="${product.code}"></td>
						<td th:text="${product.description}"></td>
						<td th:text="${product.price}"></td>
						<td>
							<a th:href="@{/products/view(id=${product.id})}">[[#{action.View}]]</a>
							<a th:href="@{/products/edit(id=${product.id})}">[[#{action.Edit}]]</a>
							<a th:href="@{/products/delete(id=${product.id})}" onclick="return confirm(''+[[#{action.Confirm}]])">[[#{action.Delete}]]</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:insert="~{fragments/footer :: footer}">&copy; 2017 The Static Templates</div>
	</body>
</html>