<!doctype html>
<html lang="en">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header :: header">&nbsp;</header>


<div class="tabla-administrador">
    <h1>[[#{view.title.Admin}]]</h1>
    <div>
        <div class="create">
            <a class="boton-create" th:href="@{/login}">[[#{header.SingOut}]]</a>
        </div>
        <div>
            <table>
                <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombre</th>
                    <th>E-mail</th>
                    <th>Actividad Comercial</th>
                    <th>Aprobar</th>
                    <th>Rechazar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="solicitud: ${proveedores}">
                    <td>
                        <p><strong>ID:</strong> <span th:text="${#strings.substring(solicitud.id, 10)}"></span></p>
                    </td>

                    <td>
                        <span th:text="${solicitud.getName()}"></span><br>
                    </td>

                    <td>
                        <span th:text="${solicitud.getEmail()}"></span><br>
                    </td>

                    <td>
                        <span th:if="${solicitud.getActComercial() != null}"
                              th:text="${solicitud.getActComercial().getName()}"></span>
                        <span th:unless="${solicitud.getActComercial() != null}">No especificado</span>
                    </td>

                    <td>
                        <a th:href="@{'/aceptar/' + ${solicitud.getId()}}">
                            <img alt="Add" class="imagen-approve" height="20" src="/images/approve.png" width="20">
                        </a>
                    </td>

                    <td>
                        <a th:href="@{'/rechazar/' + ${solicitud.getId()}}">
                            <img alt="Remove" class="imagen-delete" height="20" src="/images/delete.png" width="20">
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="tabla-aprovados">
        <h1>[[#{view.Disable}]]</h1>
        <table>
            <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>E-mail</th>
                <th>Actividad Comercial</th>
                <th>Desactivar</th>
            </tr>

            <tr th:each="solicitudAceptada: ${aprobados}">
                <td>
                    <p><strong>ID:</strong> <span th:text="${#strings.substring(solicitudAceptada.id, 10)}"></span></p>
                </td>

                <td>
                    <span th:text="${solicitudAceptada.getName()}"></span><br>
                </td>

                <td>
                    <span th:text="${solicitudAceptada.getEmail()}"></span><br>
                </td>

                <td>
                    <span th:if="${solicitudAceptada.getActComercial() != null}"
                          th:text="${solicitudAceptada.getActComercial().getName()}"></span>
                    <span th:unless="${solicitudAceptada.getActComercial() != null}">No especificado</span>
                </td>

                <td>
                    <a th:href="@{'/desactivar/' + ${solicitudAceptada.getId()}}">
                        <img class="imagen-delete"  alt="Remove"  src="/images/delete.png" >
                    </a>
                </td>

            </tr>
        </table>
    </div>
</div>


</footer>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>