<footer th:fragment="footer">
	&copy; 2024 Company</span>
	<div>
		<label>[[#{idioma.Idioma}]]</label>
		<form method="get">
			<button name="lang" th:class="${#locale.language == 'en'} ? 'active' : '' " type="submit" value="en">
				[[#{idioma.English}]]
			</button>
			<button name="lang" th:class="${#locale.language == 'es'} ? 'active' : '' " type="submit" value="es">
				[[#{idioma.Español}]]
			</button>
			<button name="lang" th:class="${#locale.language == 'it'} ? 'active' : '' " type="submit" value="it">
				[[#{idioma.Italiano}]]
			</button>
		</form>
	</div>
</footer>