<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments/head"></head>
	<body>

		<header th:replace="fragments/header :: header"></header>

		<h1>[[#{login.Title}]]</h1>
		<div class="marco">
			<form method="post" th:action="@{/login}">
				<label>[[#{admin.TypeId}]]
					<select name="userType">
						<option value="Admin-">Admin</option>
						<option value="Proveedor-">Proveedor</option>
					</select>
				</label>
				<br/><br/>
				<label>[[#{admin.Id}]]
					<input name="id" th:placeholder="#{admin.Id}" required type="text">
				</label>
				<br/><br/>
				<label>[[#{admin.Password}]]
					<input name="password" th:placeholder="#{admin.Password}" required type="password">
				</label>
				<br/><br/>
				<button class="boton-create" type="submit">[[#{login.Login}]]</button>
				<a class="boton-create"	href="/signup">[[#{login.SignUp}]]</a>
			</form>
		</div>
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>