<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments/head"></head>
	<body>
		<!----------------------------------------------------------------
		 Header
		---------------------------------------------------------------- -->
		<header th:replace="fragments/header :: header">&nbsp;</header>
		<!----------------------------------------------------------------
		 Body
		---------------------------------------------------------------- -->
		<div>
			<h1>[[#{main.Welcome}]]</h1>
			<p th:text="${resultado}"></p>
		</div>
		<!----------------------------------------------------------------
		 Footer
		---------------------------------------------------------------- -->
		<footer th:replace="fragments/footer :: footer"></footer>
	</body>
</html>